.all {
  width: 400px;
  margin: 30px auto;
}

.eventForm {

  font-family: 'Comfortaa', sans-serif;

}

.eventForm input {
  margin-right: 5px;
  font-family: 'Comfortaa', sans-serif;
}

.eventForm button {
  font-family: 'Comfortaa', sans-serif;
}