
.form {
  margin-bottom: 10px;
}

.eventForm {
  font-family: 'Comfortaa', sans-serif;
}

.eventForm input {
  margin-right: 5px;
  font-family: 'Comfortaa', sans-serif;
}

.eventForm button {
  font-family: 'Comfortaa', sans-serif;
}