@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --text: #333333;
  /*background color*/
  --PalePeach: #ffd1c1;
  /*icons, buttons, or headers*/
  --PastelPink: #ffceda;
  /*Highlight*/
  --background-color: #fff5b7;
  /*secondary background or cards*/
  --SkyBlue: #c7e5ff;
  /*buttons*/
  --PastelMint: #c6f6d5;
  /*white*/
  --white: white;
  /*light brown*/
  --lightbrown: #d2b48c;
  /*coffebrown*/
  --coffeebrown: #4b3621;
  /*logoColor*/
  --logoColor: #333333;
}

body.dark {
  --background-color: #202020;
  --text: white;
  --logoColor: #93b2ce;
  --container: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text);
  overflow-x: hidden;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

a {
  text-decoration: none;
  color: inherit;
}
