@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  /*background color*/
  --background-color: #FFF0D1;
  /*white*/
  --white: white;
  --white2: white;
  --white3: white;
  /*cream*/
  --cream: #FFF3E0;
  /*coffebrown*/
  --coffeebrown: #4b3621;
  /*logoColor*/
  --logoColor: #333333;
  /*light beige*/
  --lightbeight: #FEFAE0;
  /*brown*/
  --brown: #D4A373;
  /*beige*/
  --beige: #FAEDCD;
  /*grey*/
  --grey: #283618;
  /*buttons*/
  --buttons: #D4A373;
  --button2: #CCD5AE;
  --hoverButton: #CCD5AE;
  --buttonText: #D4A373;
  --button2Text: #333333;
  --buttonText3: #FFFFFF;   
  --button2TextHover: white;
  --button2TextHoverBackground:#606C38; 
  --button4: #4b3621;
  --button4Text: #4b3621;
  --button4TextHover: #d2691e;
  --button5: #CCD5AE;
  --buttonActive: #FEFAE0;
  --buttonBackground: white;
  /*containers*/
  --container1: #606C38;
  --container2: #FEFAE0;
  --container3: #283618;
  --container4: #DDA15E;
  --container5: #BC6C25;
  /*typography*/
  --title: #333333;
  --titleSecondColor: #D4A373;
  --p: #333333;
  --p2: #8E8E93;
  --containertext: white;
  --container4text: black;
  /*bargraph*/
  --bar-hover-color: #FF5733;
  --tooltip-bg-color: #333;
  /*chat room color theme*/
  --receive: #27ba4e;
  --sent: #0b93f6;
  --chatroomBtn: hsla(0, 0%, 50%, 0.8);
  --chatroomText: hsla(0, 0%, 50%, 0.8);
  --chatroomBackground: white;
  --chatroomColor: hsla(0, 3%, 63%, 0.8);
  --chatroomColor2:rgba(97, 96, 96, 0.8);
  --chatroomColor3: #ffffff;
  /* Light Mode Colors */
  --clr-background-white: white;
  --clr-background-light: #dfd4c6;       
  --clr-text-dark: #3D3D3D;              
  --clr-entry-bg-light: #FFFFFF;         
  --clr-button-bg-light: #5C4033;        
  --clr-button-text-light: #FFFFFF;      
  --clr-shadow-light: rgba(0, 0, 0, 0.1);
}

body.dark {
  --background-color: #283618;
  --text: white;
  --container: #2e2e2e;
  --title: white;
  /*containers*/
  --container3: #CCD5AE;
  /*button*/
  --button2: #283618;
  --button4: black;
  /*logo*/
  --logoColor: #ffffff;
  /*chatroom*/
  --chatroomBackground: black;
  --chatroomColor: hsla(0, 1%, 24%, 0.8);
  --chatroomColor2:rgba(97, 96, 96, 0.8);
  --chatroomColor3: #ffffff;
  /* Dark Mode Colors */
  --clr-background-white: #1A1A1A;
  --clr-background-light: #1A1A1A;        
  --clr-text-dark: #EAEAEA;             
  --clr-entry-bg-light: #333333;          
  --clr-button-bg-light: #4A3A2D;         
  --clr-button-text-light: #FF7F50;          
  --clr-shadow-light: rgba(255, 255, 255, 0.1); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
