/* Main container */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Content wrapper for the charts and streak container */
.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

/* Happy streak container */
.streakContainer {
    background-color: #f5deb3;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    justify-content: center;
}

.streakContainer h4 {
    font-size: 20px;
    margin: 0;
}

.fireIcon {
    width: 30px;
    height: 30px;
}

/* Sort by dropdown */
.sortContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sortSelect {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

/* Flexbox container for the charts */
.chartFlexContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

/* Pie chart container */
.pieChartContainer {
    background-color: #f0e68c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

/* Bar chart container */
.barChartContainer {
    background-color: #98fb98;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
}

/* Adjust the tooltip and legend for the charts */
.recharts-tooltip-label,
.recharts-legend-item-text {
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

