/* Main container */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Wrapper for content */
.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
}

/* Top row container for Happy Streak, Map, and Scoreboard */
.topRowContainer {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}

/* Happy Streak, Map, and Scoreboard containers */
.streakContainer, .mapContainer, .scoreboardContainer {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.streakContainer {
    background-color: #f5deb3;
    width: 35%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mapContainer {
    background-color: #e0f7fa;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.scoreboardContainer {
    background-color: #d8f3fc;
    width: 45%;
}

/* Flex container for charts */
.chartFlexContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

/* Container for Pie and Bar charts */
.pieChartContainer, .barChartContainer {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.pieChartContainer {
    background-color: #f4ec9f;
    width: 55%;
}

.barChartContainer {
    background-color: #b0f3b0;
    width: 100%;
}
