.moodTrackerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 80vh;
  position: relative;
}

.moodGrid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.moodOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodOption:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.moodImage {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.selected {
  border: 3px solid #785d3a;
  border-radius: 50%;
}

.selectedMood {
  margin-top: 20px;
  font-size: 18px;
  color: #785d3a;
}

.timeFrameContainer {
  margin-bottom: 20px;
}

.timeFrameContainer label {
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Add spacing between all buttons */
  margin-top: 30px;
}

.icon {
  width: 20px;
  height: 20px;
}

.insightsContainer {
  background-color: #C4A279;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%;
  max-width: 800px;
  z-index: 10;
  height: 40%;
}

.closeButton {
  background-color: #B0B0B0; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px; 
  right: 10px;
  font-size: 14px;
}

.closeButton:hover {
  background-color: #818181; 
}

.insightsButton:hover, .homeButton:hover, .backButton:hover {
  background-color: #a68d6c; 
  cursor: pointer; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); 
}


.insightsButton, .homeButton, .backButton, .deleteButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.insightsButton, .homeButton, .backButton {
  background-color: #D2B48C;
}

.insightsButton:hover, .homeButton:hover, .backButton:hover {
  background-color: #b8a188; /* Slightly darker shade on hover */
}

.deleteButton {
  background-color: #ff4d4d;
  color: black;
}

.insights {
  margin-top: 50px;
}
.moodBreakdown,
.moodTimestamps {
  list-style-type: none;
  padding-left: 0;
}

.moodTimestamps li {
  margin-bottom: 10px;
}